<!DOCTYPE html>
<!--[if IE 8]>               <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Task Manager</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/custom.modernizr.js"></script>
</head>
<body>
    <!-- Main Content -->
    <div class="row" id="task-manager">
        <div class="columns large-12 small-12">
            <h2>Task Manager</h2>

            <form action="#" method="post" id="taskmanager-form">
                <fieldset>
                    <div class="row collapse">
                        <div class="small-3 large-2 columns">
                            <span class="prefix">New Task</span>
                        </div>
                        <div class="small-9 large-8 columns">
                            <input type="text" name="taskName" placeholder="What do you have to do?">
                        </div>
                        <div class="small-2 columns">
                          <input type="submit" class="button prefix" value="Add task!"/>
                        </div>
                    </div>
                </fieldset>
            </form>

            <ul id="taskList" class="no-bullet"></ul>
        </div>
    </div>
    <!-- /Main Content -->
    <script src="js/vendor/mustache.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/taskmanager.js"></script>
    <script src="js/app.js"></script>
    <script>
        $(document).foundation();
    </script>
    <!-- TEMPLATES -->
    <script id="taskListTemplate" type="text/template">
        {{#allTasks}}
            <li>{{.}}</li>
        {{/allTasks}}
    </script>
</body>
</html>